<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.primeresponse.testcases.Web.Delete_SearchEngineResultPage"/>
      <class name="com.primeresponse.testcases.Web.Verify_OnOffGoogleCampaigns"/>
      <class name="com.primeresponse.testcases.Settings.Check_AlertSubscription"/>
      <class name="com.primeresponse.testcases.Track.Share_ExternalFeed"/>
      <class name="com.primeresponse.testcases.Influence.Sort_SurveyStartDate"/>
      <class name="com.primeresponse.testcases.Support.Delete_Note"/>
      <class name="com.primeresponse.testcases.Accounts.Create_AccountsGreatPlainsContracts"/>
      <class name="com.primeresponse.testcases.Settings.Delete_Feeds"/>
      <class name="com.primeresponse.testcases.Support.Add_Communication_UsingTopButton"/>
      <class name="com.primeresponse.testcases.Profile.Delete_Serp"/>
      <class name="com.primeresponse.testcases.Admin.Create_GreatPlainProduct"/>
      <class name="com.primeresponse.testcases.Web.Sort_SocialSiteRefTotalSocialTraffic"/>
      <class name="com.primeresponse.testcases.Training.Create_Categories"/>
      <class name="com.primeresponse.testcases.Training.Create_NewPage"/>
      <class name="com.primeresponse.testcases.Support.Pdf_DownloadEngagementReport"/>
      <class name="com.primeresponse.testcases.Support.Filter_Engagement"/>
      <class name="com.primeresponse.testcases.Track.Sort_SourceExternalFeed"/>
      <class name="com.primeresponse.testcases.Admin.Create_Notification"/>
      <class name="com.primeresponse.testcases.Admin.Delete_Package"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_MyAccount_FacebookLikesCol"/>
      <class name="com.primeresponse.testcases.Influence.Delete_Survey"/>
      <class name="com.primeresponse.testcases.Track.Resolve_InternalFeed"/>
      <class name="com.primeresponse.testcases.Influence.Download_CustomersCSV"/>
      <class name="com.primeresponse.testcases.Track.Resolve_ExternalFeed"/>
      <class name="com.primeresponse.testcases.Accounts.Create_AccessKey"/>
      <class name="com.primeresponse.testcases.Settings.Delete_IntegratedGoogleAnalyticsAccount"/>
      <class name="com.primeresponse.testcases.Support.Sort_AccountStatuses_DateCol"/>
      <class name="com.primeresponse.testcases.Support.Create_Note_UsingTopIcon"/>
      <class name="com.primeresponse.testcases.Settings.Create_Feeds"/>
      <class name="com.primeresponse.testcases.Admin.Delete_ParentGroup"/>
      <class name="com.primeresponse.testcases.Influence.Delete_Customers"/>
      <class name="com.primeresponse.testcases.Social.Show_OnlyMyActivity"/>
      <class name="com.primeresponse.testcases.Support.Verify_ReportsEmailToMe"/>
      <class name="com.primeresponse.testcases.Enterprise.Check_GroupTotals"/>
      <class name="com.primeresponse.testcases.Settings.Verify_GooglePlusIntegration"/>
      <class name="com.primeresponse.testcases.Social.Mark_PinContent"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_EnterpriseSummaryReviewsCount"/>
      <class name="com.primeresponse.testcases.Track.Search_ExternalFeed"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_Dashboard_ReviewsCol"/>
      <class name="com.primeresponse.testcases.Influence.Delete_Campaign"/>
      <class name="com.primeresponse.testcases.Accounts.Submit_NoteToLoggedInUser"/>
      <class name="com.primeresponse.testcases.Support.Verify_ReportsOverView"/>
      <class name="com.primeresponse.testcases.Accounts.Delete_AccountsGreatPlainsContracts"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_EnterpriseExternalFeeds"/>
      <class name="com.primeresponse.testcases.Accounts.Sort_CreatedColumn"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_Dashboard_FacebookLikesCol"/>
      <class name="com.primeresponse.testcases.Profile.Sort_SiteDetailReviews"/>
      <class name="com.primeresponse.testcases.Social.Verify_PinnedContentReport"/>
      <class name="com.primeresponse.testcases.Influence.Delete_List"/>
      <class name="com.primeresponse.testcases.Settings.Check_DigestSubscriptions"/>
      <class name="com.primeresponse.testcases.Admin.Create_Vertical"/>
      <class name="com.primeresponse.testcases.Influence.Check_Redirect_Counts"/>
      <class name="com.primeresponse.testcases.Admin.Create_GreatPlainsImportFiles"/>
      <class name="com.primeresponse.testcases.Social.Check_AddALink"/>
      <class name="com.primeresponse.testcases.Influence.Verify_SurveysReport"/>
      <class name="com.primeresponse.testcases.Track.VerifyWidgets_TrackSummary"/>
      <class name="com.primeresponse.testcases.Influence.Sort_SurveyName"/>
      <class name="com.primeresponse.testcases.Training.Verify_SearchByTags"/>
      <class name="com.primeresponse.testcases.Web.Sort_ReputationSiteReferralsNumberOfReviewsCol"/>
      <class name="com.primeresponse.testcases.Influence.DownloadCSV_List"/>
      <class name="com.primeresponse.testcases.Track.Verify_TotalResponsesOnExternalFeedAndSummary"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_ViewOriginalInternalFeed"/>
      <class name="com.primeresponse.testcases.Settings.Create_SiteMap"/>
      <class name="com.primeresponse.testcases.Settings.Verify_SameSourceOnListenersAndExternalFeed"/>
      <class name="com.primeresponse.testcases.Track.Sort_DateInternalFeed"/>
      <class name="com.primeresponse.testcases.Support.Generate_PdfReport"/>
      <class name="com.primeresponse.testcases.Settings.Delete_SiteMap"/>
      <class name="com.primeresponse.testcases.Accounts.Create_Account"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_MyAccount_ReviewResponsesCol"/>
      <class name="com.primeresponse.testcases.Support.Create_Goals"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_Dashboard_NameCol"/>
      <class name="com.primeresponse.testcases.Admin.Create_ApplicationProduct"/>
      <class name="com.primeresponse.testcases.Web.Sort_ReputationSiteReferralAvgRating"/>
      <class name="com.primeresponse.testcases.Admin.Verify_TrackerPackages"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_ViewOriginalExternalFeed"/>
      <class name="com.primeresponse.testcases.Enterprise.Filter_ResponsePenetrationDashboard"/>
      <class name="com.primeresponse.testcases.Settings.Check_SiteMapEnteries"/>
      <class name="com.primeresponse.testcases.Influence.Upload_List"/>
      <class name="com.primeresponse.testcases.Admin.Delete_Notification"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_GroupOrAccount_List"/>
      <class name="com.primeresponse.testcases.Web.Sort_SocialSiteReferralsPagesVisit"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_Dashboard_ReviewResponsesCol"/>
      <class name="com.primeresponse.testcases.Admin.Delete_KPI_Template"/>
      <class name="com.primeresponse.testcases.Admin.Create_Category"/>
      <class name="com.primeresponse.testcases.Social.PdfDownload_PinnedContentReport"/>
      <class name="com.primeresponse.testcases.Web.Create_NewSearchEngineResultPage"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_MyAccount_NameCol"/>
      <class name="com.primeresponse.testcases.Settings.Verify_GoogleAnalyticsIntegrations"/>
      <class name="com.primeresponse.testcases.Settings.Create_Alert"/>
      <class name="com.primeresponse.testcases.Influence.Submit_InternalReview"/>
      <class name="com.primeresponse.testcases.Admin.Delete_GreatPlainProduct"/>
      <class name="com.primeresponse.testcases.Accounts.Search_Account"/>
      <class name="com.primeresponse.testcases.Support.Delete_Report"/>
      <class name="com.primeresponse.testcases.Influence.Verify_SurveysEvents"/>
      <class name="com.primeresponse.testcases.Social.Check_ShortenUrl"/>
      <class name="com.primeresponse.testcases.Social.Add_Content"/>
      <class name="com.primeresponse.testcases.Admin.Check_GroupHierarchy"/>
      <class name="com.primeresponse.testcases.Support.Pdf_DownloadConversionRates"/>
      <class name="com.primeresponse.testcases.Support.CSVExport_AccountStatuses"/>
      <class name="com.primeresponse.testcases.Admin.Create_RssSeeds"/>
      <class name="com.primeresponse.testcases.Admin.Create_Template"/>
      <class name="com.primeresponse.testcases.Admin.Delete_Template"/>
      <class name="com.primeresponse.testcases.Support.Sort_AccountStatuses_VerticalCol"/>
      <class name="com.primeresponse.testcases.Support.Create_Note"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_AccountOnOfficialProfile"/>
      <class name="com.primeresponse.testcases.Settings.Create_Competitor"/>
      <class name="com.primeresponse.testcases.Training.Delete_NewPage"/>
      <class name="com.primeresponse.testcases.Admin.Verify_ListenersList"/>
      <class name="com.primeresponse.testcases.Accounts.Delete_Account"/>
      <class name="com.primeresponse.testcases.Admin.Verify_KpiTemplateOnIntegrations"/>
      <class name="com.primeresponse.testcases.Influence.Add_Multiple_Customers"/>
      <class name="com.primeresponse.testcases.Accounts.Sort_NameCol"/>
      <class name="com.primeresponse.testcases.Admin.Delete_RssSeeds"/>
      <class name="com.primeresponse.testcases.Accounts.Check_LoginIcon"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsExternalReviewsCol"/>
      <class name="com.primeresponse.testcases.Admin.Create_ChildGroup"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_InternalFeedDefaultSorting"/>
      <class name="com.primeresponse.testcases.Influence.Delete_Redirect"/>
      <class name="com.primeresponse.testcases.Track.Sort_TrackCompetitiorsAccountCol"/>
      <class name="com.primeresponse.testcases.Track.Sort_RatingExternalFeed"/>
      <class name="com.primeresponse.testcases.Social.Check_FBLikeAndComment"/>
      <class name="com.primeresponse.testcases.Influence.Send_CampaignPreview"/>
      <class name="com.primeresponse.testcases.Influence.Sort_SurveyCompleteDate"/>
      <class name="com.primeresponse.testcases.Track.Check_ReviewCount"/>
      <class name="com.primeresponse.testcases.Web.Sort_ReputationSite_TotalReputationTraffic"/>
      <class name="com.primeresponse.testcases.Web.Verify_GoogleCampaignsOnReport"/>
      <class name="com.primeresponse.testcases.Track.Sort_PublishedExternalFeed"/>
      <class name="com.primeresponse.testcases.Settings.Delete_Alert"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_AbServiceAndIvmCvdInventory_NonUniqueKey"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_AccountNameOnList"/>
      <class name="com.primeresponse.testcases.Support.Verify_DrillDownToAccount"/>
      <class name="com.primeresponse.testcases.Track.Sort_TrackCompetitiorsDescriptionCol"/>
      <class name="com.primeresponse.testcases.Track.Verify_TrackCompetitiorsGoToSite"/>
      <class name="com.primeresponse.testcases.Settings.Verify_ReviewsCountOnListenersAndExternalFeed"/>
      <class name="com.primeresponse.testcases.Admin.Create_RssSeed"/>
      <class name="com.primeresponse.testcases.Admin.Create_WhiteLabel"/>
      <class name="com.primeresponse.testcases.Settings.Manage_OffIntegratedAccounts"/>
      <class name="com.primeresponse.testcases.Web.Verify_GotoSiteReputationSiteRefferal"/>
      <class name="com.primeresponse.testcases.Social.Filter_ContentThisAccountAndPublic"/>
      <class name="com.primeresponse.testcases.Track.Verify_TotalRatingsOnExternalFeedAndSummary"/>
      <class name="com.primeresponse.testcases.Web.Delete_LandingPages"/>
      <class name="com.primeresponse.testcases.Social.Mark_As_Favorites"/>
      <class name="com.primeresponse.testcases.Admin.Tracker_Package"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_InternalFeedRatingSorting"/>
      <class name="com.primeresponse.testcases.Settings.Delete_Competitor"/>
      <class name="com.primeresponse.testcases.Enterprise.Reports_DownloadCSV"/>
      <class name="com.primeresponse.testcases.Web.Verify_GoogleCampaignsOnSiteMapPosts"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_MyAccount_ReviewsCol"/>
      <class name="com.primeresponse.testcases.Social.Verify_SocialDashboard"/>
      <class name="com.primeresponse.testcases.Web.Sort_SocialSiteReferralAvgTimeOnSiteCol"/>
      <class name="com.primeresponse.testcases.Accounts.Delete_AccessKey"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_GroupReport_DealerNameCol"/>
      <class name="com.primeresponse.testcases.Settings.Verify_CompetitorsOnTrackAndSettings"/>
      <class name="com.primeresponse.testcases.Social.Verify_Categories"/>
      <class name="com.primeresponse.testcases.Profile.Sort_SiteDetailSiteScore"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_TimeZone"/>
      <class name="com.primeresponse.testcases.Support.Delete_Goals"/>
      <class name="com.primeresponse.testcases.Profile.Check_SiteDetails"/>
      <class name="com.primeresponse.testcases.Settings.Verify_ActiveCheckBoxAtTrackSettings"/>
      <class name="com.primeresponse.testcases.Social.Mark_As_Flagged"/>
      <class name="com.primeresponse.util.DriverTestCase"/>
      <class name="com.primeresponse.testcases.Profile.Sort_SiteDetailDescription"/>
      <class name="com.primeresponse.testcases.Profile.Sort_SiteDetailRating"/>
      <class name="com.primeresponse.testcases.Settings.Create_NewDigestSubscription"/>
      <class name="com.primeresponse.testcases.Profile.DeletePageCapture_Profile"/>
      <class name="com.primeresponse.testcases.Social.Verify_SocialPostReport"/>
      <class name="com.primeresponse.testcases.Web.Verify_CampaignReport"/>
      <class name="com.primeresponse.testcases.Web.Sort_ReputationSite_AvgTimeOnSite"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_MyAccount_StarRatingCol"/>
      <class name="com.primeresponse.testcases.Track.Sort_TrackCompetitiorsRating"/>
      <class name="com.primeresponse.testcases.Influence.Copy_Survey"/>
      <class name="com.primeresponse.testcases.Profile.Sort_SiteDetailSource"/>
      <class name="com.primeresponse.testcases.Admin.Search_User"/>
      <class name="com.primeresponse.testcases.Web.Create_GoogleCampaigns"/>
      <class name="com.primeresponse.testcases.Enterprise.SegmentationButtons"/>
      <class name="com.primeresponse.testcases.Settings.Verify_GotoSiteAtTrackSettings"/>
      <class name="com.primeresponse.testcases.Web.Filter_CampaignReport"/>
      <class name="com.primeresponse.testcases.Accounts.Send_SocialIntegrationEmail"/>
      <class name="com.primeresponse.testcases.Settings.Delete_IntegratedGooglePlusAccount"/>
      <class name="com.primeresponse.testcases.Admin.Delete_Category"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_InternalFeedsMentionedAccounts"/>
      <class name="com.primeresponse.testcases.Training.Pdf_DownloadFaq"/>
      <class name="com.primeresponse.testcases.Admin.Delete_User"/>
      <class name="com.primeresponse.testcases.Admin.Create_KPI_Template"/>
      <class name="com.primeresponse.testcases.Social.Create_DarkPost"/>
      <class name="com.primeresponse.testcases.Web.Verify_PreviewOfLandingPage"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsEmailSentCol"/>
      <class name="com.primeresponse.testcases.Influence.Create_Survey"/>
      <class name="com.primeresponse.testcases.Admin.Delete_Vertical"/>
      <class name="com.primeresponse.testcases.Profile.Serp_Profile"/>
      <class name="com.primeresponse.testcases.Social.Check_HashtagsResults"/>
      <class name="com.primeresponse.testcases.Influence.Create_NewCampaign"/>
      <class name="com.primeresponse.testcases.Web.Verify_ReferralAnalysis"/>
      <class name="com.primeresponse.testcases.Track.Verify_FeedsOnSharedExternalFeed"/>
      <class name="com.primeresponse.testcases.Support.Create_Report"/>
      <class name="com.primeresponse.testcases.Social.Create_SocialPost"/>
      <class name="com.primeresponse.testcases.Web.Create_LandingPages"/>
      <class name="com.primeresponse.testcases.Web.Sort_SocialSiteReferralBounceRateCol"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_UserDetails"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsVerticalsCol"/>
      <class name="com.primeresponse.util.DriverType"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_NameColDefaultSorting"/>
      <class name="com.primeresponse.testcases.Track.Check_TrackCompetitiorsDefaultSorting"/>
      <class name="com.primeresponse.testcases.Social.Pdf_DownloadSocialDashboardReport"/>
      <class name="com.primeresponse.testcases.Profile.PageCapture_Profile"/>
      <class name="com.primeresponse.testcases.Training.Verify_WebinarRedirectSameUrl"/>
      <class name="com.primeresponse.testcases.Training.Pdf_DownloadRecommendedGuideLine"/>
      <class name="com.primeresponse.testcases.Social.Verify_ContentDetails"/>
      <class name="com.primeresponse.testcases.Admin.Create_ParentGroup"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsAccountCol"/>
      <class name="com.primeresponse.testcases.Social.Check_FilterResult"/>
      <class name="com.primeresponse.testcases.Enterprise.MainNav_MenuList"/>
      <class name="com.primeresponse.testcases.Admin.Delete_ChildGroup"/>
      <class name="com.primeresponse.testcases.Influence.Sort_PreSurveyCompleteDate"/>
      <class name="com.primeresponse.testcases.Enterprise.Check_MyAccountsTotals"/>
      <class name="com.primeresponse.testcases.Web.Sort_ReputationSiteReferralsSourceCol"/>
      <class name="com.primeresponse.testcases.Influence.VerifyWidgets_InfluenceDashboard"/>
      <class name="com.primeresponse.testcases.Admin.Create_RecipientTemplate"/>
      <class name="com.primeresponse.testcases.Accounts.Sort_AgeColumn"/>
      <class name="com.primeresponse.testcases.Influence.Add_Redirects"/>
      <class name="com.primeresponse.testcases.Track.Verify_GoToSite_ExternalFeed"/>
      <class name="com.primeresponse.testcases.Settings.Delete_NewDigestSubscription"/>
      <class name="com.primeresponse.testcases.Web.Create_TrackingUrls"/>
      <class name="com.primeresponse.testcases.Admin.Delete_RecipientTemplate"/>
      <class name="com.primeresponse.testcases.Admin.Create_User"/>
      <class name="com.primeresponse.testcases.Accounts.Mark_UserEmployee"/>
      <class name="com.primeresponse.testcases.Support.Delete_Communication"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_ExternalFeedsRatingSorting"/>
      <class name="com.primeresponse.testcases.Web.Verify_Utm_ContentParameter"/>
      <class name="com.primeresponse.testcases.Admin.Filter_JobsQueue"/>
      <class name="com.primeresponse.testcases.Social.Search_Content"/>
      <class name="com.primeresponse.testcases.Accounts.Submit_NewSupportNote"/>
      <class name="com.primeresponse.testcases.Admin.Delete_WhiteLabel"/>
      <class name="com.primeresponse.testcases.Admin.Delete_GreatPlainsImportFiles"/>
      <class name="com.primeresponse.testcases.Track.Delete_ExternalFeed"/>
      <class name="com.primeresponse.testcases.Track.Verify_ExternalFeedReviewDetails"/>
      <class name="com.primeresponse.testcases.Social.Check_AnalyzeHashtags"/>
      <class name="com.primeresponse.testcases.Influence.Add_Customer"/>
      <class name="com.primeresponse.testcases.Admin.Delete_ApplicationProduct"/>
      <class name="com.primeresponse.testcases.Support.Add_Communication"/>
      <class name="com.primeresponse.testcases.Enterprise.DownloadPdf_ResponsePenetrationDashboard"/>
      <class name="com.primeresponse.testcases.Web.Sort_SocialSiteReferralTrafficCol"/>
      <class name="com.primeresponse.testcases.Track.Delete_InternalFeed"/>
      <class name="com.primeresponse.testcases.Settings.Integrate_Accounts"/>
      <class name="com.primeresponse.testcases.Track.Sort_RatingInternalFeed"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_ExternalFeedsDefaultSorting"/>
      <class name="com.primeresponse.testcases.Admin.Verify_ApplicationProductOnAccounts"/>
      <class name="com.primeresponse.testcases.Accounts.Verify_SupportSettings"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsLastDataUploadCol"/>
      <class name="com.primeresponse.testcases.Accounts.Filter_AccountsAndVerifyResults"/>
      <class name="com.primeresponse.testcases.Settings.Delete_IntegratedAccounts"/>
      <class name="com.primeresponse.testcases.Enterprise.Sort_Dashbaord_StarRatingCol"/>
      <class name="com.primeresponse.testcases.Support.Verify_EngagementReport"/>
      <class name="com.primeresponse.testcases.Track.Verify_TrackProductReviewFeed"/>
      <class name="com.primeresponse.testcases.Enterprise.Verify_RedirectionOfGotoSite"/>
      <class name="com.primeresponse.testcases.Social.CheckTwitterRetweet"/>
      <class name="com.primeresponse.testcases.Support.Sort_MetricsLastSupportCol"/>
      <class name="com.primeresponse.testcases.Support.Filter_ConversionRatesDrilldown"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
